.Form_03 {
  width: 100%;
}
.Form_03-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Form_03-img {
  width: 38vw;
  margin: 0vh 3vh 3vh 3vh;
}
.Form_03-center-text {
  display: flex;
  /* justify-content: center; */
  margin: 0 3vh;
  align-items: center;
}
.Form_03-center-text-item {
  width: 100%;
  font-size: 28px;

  padding: 3vh;

  border: 2px solid;
}
.Form_03-answers {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Form_03-answers-item {
  padding: 6vh;
  text-decoration: underline;
  color: #000;
  font-size: 20px;
}